@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-primary {
    @apply rounded-xl border border-black px-3 py-2 font-extrabold transition-colors hover:bg-black hover:text-white;
  }
  .btn-primary:disabled {
    @apply cursor-not-allowed opacity-60;
  }
}